<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乃木坂46ファンサイト</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <aside th:replace="fragments/sidebar :: sidebar"></aside>
    <main>
        <h2>ホーム</h2>
        <p>このサイトでは乃木坂46のライブをより楽しむための情報を提供します。</p>
    </main>
</div>
<div th:replace="fragments/footer :: footer-scripts"></div>
</body>
</html>
